/* 
    Document   : style
    Created on : 14.09.2012, 11:01:32
    Author     : Arvy
    Description:
        Purpose of the stylesheet follows.
*/

html{
    height:100%;
    overflow: hidden;
}
body{
    height:100%;
    margin: 0;
    overflow: hidden;
}

#container{
    position: relative;
    height: 100%;
}

#map {
    width: 100%; height: 100%;

}
#data {
z-index: 3000 !important;
}

#info {
    top: 75px;
    left:10px;
    z-index: 1500;
    position: absolute; 
    width: 370px;
    height: 450px;
    display: none;
    padding: 30px 10px 10px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #c8fcc7;
}

#clusters {
     width: 350px;
     height: 400px;
    padding: 5px 5px 5px 8px;
    overflow-y: auto; /* scroll */
    overflow-x: hidden;
}

#close, #close2 {
    position: absolute;
    right:6px; 
    width: 27px;
    height: 27px;
    top: 5px;
    background: url(close.gif) no-repeat;
    display: block;
    color: #212121;
    text-decoration: none;
}

#loading {
    z-index: 2000;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 35% 50%;
    background: #ffffff;
    opacity: 0.8;
}

#legend {
    position: absolute;
    margin-top: 30px;
    right: 10px;
    width: 190px;
    /*opacity: 0.9; */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
   /* background-color: #999999;*/
     background-color: #EEEEEE;
    z-index: 1500;
    padding: 5px 5px 5px 8px;
    display: none;
}
#legend ul {
    list-style-type: none;
    padding-left: 10px;
}
.catcolor {
    width: 30px;
    display: inline;
    padding: 0 9px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

}
.catcolor2 {
    width: 80px;
    display: inline;
    /*float:right;*/
    padding: 0 7px;
}

#categoriesEditContainer {
    position: absolute;
    top: 50px;
    left: 35%;
    width: 420px;
    height: 450px;
    overflow-y: auto;
   /* opacity: 0.9; */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  /*  background-color: #999999; */
    background-color: #c8fcc7;
    z-index: 1001;
    padding: 30px 1px 20px 20px;
    display: none;
}

#categoriesEdit {
    width: 360px;
    height: 410px;
    overflow-y: auto; /* scroll */
    overflow-x: hidden;
    background-color: #EEEEEE;
    padding: 5px 5px 20px 20px; 
}

#categoriesEdit ul {
    list-style-type: none;
    padding-left: 10px;
}
.categoryDelete, .categoryDeleteTop {
    display: inline; 
    margin-left: 5px; 
    color: #990000;
    font-size: .6em !important;
}
.categoryDeleteTop .ui-icon, .categoryDelete .ui-icon{
    background-image: url(../css/smoothness/images/ui-icons_222222_256x240.png) !important;
}
.categoryEdit, .categoryEditTop {
    font-size: .6em !important;
}
.categoryEditTop .ui-icon, .categoryEdit .ui-icon{
    background-image: url(../css/smoothness/images/ui-icons_222222_256x240.png) !important;
}

#userdata {
    position: absolute;
    margin-top: 0px;
    right: 10px;
    opacity: 0.9;
    padding: 3px 5px 3px 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #dddddd;
    z-index: 1500;
}

#topmenu {
    z-index: 1500;
    position: absolute;
    width: 100%;
    margin: -12px auto;
    text-align: center;
}
#topmenu li{
    display: inline;
}
#topmenu li a{
    margin-left: 1px;
    margin-right: 1px;
    opacity: 0.9;
    padding: 5px 5px 5px 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #dddddd;
}

#topmenu li a:hover
{
    background: #ccccdd;
    color: #4A4A24;
    text-decoration: none;
}
#delete2, .catChange, .deleteClusterPoint {
    text-decoration: underline;
    color: blue;
    cursor:pointer
}

#dialog{
    z-index:3500;
    background: #ccccdd;
    color: #4A4A24;
    text-decoration: none;
}
#dialog-confirm{
    z-index:3500;
    /*background: #ccccdd; */
    color: #FF4A24;
    text-decoration: none;
}
/******************        ZOOOOOOOOOOOOOM +-*/
a.olControlZoomIn {
    border-radius: 4px 4px 0 0;
}
a.olControlZoomOut {
    border-radius: 0 0 4px 4px;
}

div.olControlZoom {
    position: absolute;
    top: 8px;
    left: 8px;
    background: rgba(255,255,255,0.4);
    border-radius: 4px;
    padding: 2px;
}
div.olControlZoom a {
    display: block;
    margin: 1px;
    padding: 0;
    color: white;
    font-size: 18px;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    height: 22px;
    width:22px;
    line-height: 19px;
    background: #130085; /* fallback for IE - IE6 requires background shorthand*/
    background: rgba(0, 60, 136, 0.5);
    filter: alpha(opacity=80); 
}
div.olControlZoom a:hover {
    background: #130085; /* fallback for IE */
    background: rgba(0, 60, 136, 0.7);
    filter: alpha(opacity=100);
}
@media only screen and (max-width: 600px) {
    div.olControlZoom a:hover {
        background: rgba(0, 60, 136, 0.5);
    }
}
/**********************END****************/

#OpenLayers_Control_Zoom_7{
    position: absolute;
    top:    80px;
    left:   8px;
}
