html, body, div {
  margin: 0;
  padding: 0;
}

html, body, .screen {
  width: 100%;
  height: 100%;/*
  overflow: hidden;*/
  font: 32px sans-serif;
}

div.screen {
  /*overflow: auto;*/
}

p {
  margin: 0 0 1em 0;
}

p:first-child {
  margin: 1em 0 1em 0;
}

.screen.center {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

p.center {
  text-align: center;
}

.review-photo {
  width: 75%;
}

#category-list {
  list-style-type: none;
  margin: 0 0 1em 0;
  padding: 0;
  width: 90%;
}

#category-list li {
  width: 100%;
  margin: 0 0 0 -0.25em;
  padding: 0.25em;
  border: 1px solid black;
  border-top: 0;
}

#category-list li.selected {
  background-color: gray;
}

#category-list li:first-child {
  border-top: 1px solid black;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
}

#category-list li:last-child {
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

#comment-field {
  display: block;
  margin: 0 0 1em 0;
  width: 90%;
  height: 30%;
  padding: 0.25em;
  border: 1px solid black;
  border-radius: 0.25em;
}
